body {
    background-color: rgb(132, 196, 225);
    font-family: "Verdana", sans-serif; /* ganti font */
    color: #333;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #004080;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0077b6;
    color: white;
}
